div {
  color: white;
}

.img-datails {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 40px;
}

.title-details {
  font-size: 50px;
  margin: 10px;
}

.subtitle-details {
  margin: 5px 0 5px 15px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.604);
  margin-bottom: 20px;
}

.storyline-details {
  margin: 5px 0 5px 15px;
  font-size: 15px;
  width: 500px;
  color: rgba(255, 255, 255, 0.604);
}

.genre-details {
  background-color: white;
  color: black;
  padding: 5px 4px;
  border-radius: 15px;
  width: 63px;
}
.rating-details {
  background-color: rgb(59, 114, 255);
  color: rgb(255, 255, 255);
  padding: 5px 4px;
  border-radius: 15px;
  width: 32px;

  margin-left: 20px;
}

.info-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.extra-w {
  display: flex;

  padding-bottom: 100px;
  padding-right: 20px;
}

.hr-details {
  width: 128px;

  margin: 20px 0 20px 10px;
}

.hr-details.sec {
  width: 64px;
}
.det {
  margin: 70px 10px;
}
.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
